:host ::ng-deep pre {
  display: flex !important;
  margin-top: 7px !important;
  margin-bottom: 7px !important;
  word-wrap: break-word !important;
  background-color: #fff !important;
  border: 1px solid #f0f0f0;
    border-left: 2px solid #3bafda;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    border-radius: 4px;
}

:host ::ng-deep pre code {
  flex: 1 !important;
  line-height: 1.5em !important;
  font-size: 14px !important;
  min-height: 100% !important;
  padding: 1em 1.2em !important;
}

:host ::ng-deep .token.comment,
:host ::ng-deep .token.prolog,
:host ::ng-deep .token.doctype,
:host ::ng-deep .token.cdata {
    color: slategray;
}

:host ::ng-deep .token.punctuation {
    color: #999;
}

:host ::ng-deep .namespace {
    opacity: .7;
}

:host ::ng-deep .token.property,
:host ::ng-deep .token.tag,
:host ::ng-deep .token.boolean,
:host ::ng-deep .token.number,
:host ::ng-deep .token.constant,
:host ::ng-deep .token.symbol,
:host ::ng-deep .token.deleted {
    color: #905;
}

:host ::ng-deep .token.selector,
:host ::ng-deep .token.attr-name,
:host ::ng-deep .token.string,
:host ::ng-deep .token.char,
:host ::ng-deep .token.builtin,
:host ::ng-deep .token.inserted {
    color: #690;
}

:host ::ng-deep .token.operator,
:host ::ng-deep .token.entity,
:host ::ng-deep .token.url,
:host ::ng-deep .language-css .token.string,
:host ::ng-deep .style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}

:host ::ng-deep .token.atrule,
:host ::ng-deep .token.attr-value,
:host ::ng-deep .token.keyword {
    color: #07a;
}

:host ::ng-deep .token.function {
    color: #DD4A68;
}

:host ::ng-deep .token.regex,
.token.important,
.token.variable {
    color: #e90;
}

:host ::ng-deep .token.important,
.token.bold {
    font-weight: bold;
}

:host ::ng-deep .token.italic {
    font-style: italic;
}

:host ::ng-deep .token.entity {
    cursor: help;
}

pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}

pre[data-file]::before {
    content: attr(data-file);
    position: absolute;
    top: 0;
    right: 0;
}

:host ::ng-deep .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    /* Same as .prism’s padding-top */

    background: hsla(24, 20%, 50%, .08);
    background: -moz-linear-gradient(to right, hsla(186, 83%, 68%, 0.11) 70%, hsla(186, 33%, 82%, 0));
    background: -webkit-linear-gradient(to right, hsla(186, 83%, 68%, 0.11) 70%, hsla(186, 33%, 82%, 0));
    background: -o-linear-gradient(to right, hsla(186, 83%, 68%, 0.11) 70%, hsla(186, 33%, 82%, 0));
    background: linear-gradient(to right, hsla(186, 83%, 68%, 0.11) 70%, hsla(186, 33%, 82%, 0));

    pointer-events: none;

    line-height: inherit;
    white-space: pre;
}

:host ::ng-deep .line-highlight:before,
:host ::ng-deep .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    color: #187798;
    font: 75%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
}

:host ::ng-deep .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
}

:host ::ng-deep pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

:host ::ng-deep pre.line-numbers>code {
    position: relative;
}

:host ::ng-deep .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

:host ::ng-deep .line-numbers-rows>span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

:host ::ng-deep .line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

:host ::ng-deep .token.tab:not(:empty),
.token.cr,
.token.lf,
.token.space {
    position: relative;
}

:host ::ng-deep .token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before,
.token.space:before {
    color: hsl(24, 20%, 85%);
    position: absolute;
}

:host ::ng-deep .token.tab:not(:empty):before {
    content: '\21E5';
}

:host ::ng-deep .token.cr:before {
    content: '\240D';
}

:host ::ng-deep .token.crlf:before {
    content: '\240D\240A';
}

:host ::ng-deep .token.lf:before {
    content: '\240A';
}

:host ::ng-deep .token.space:before {
    content: '\00B7';
}

:host ::ng-deep .token a {
    color: inherit;
}

:host ::ng-deep div.prism-show-language {
    position: relative;
}

:host ::ng-deep div.prism-show-language>div.prism-show-language-label {
    color: #555;
    background-color: #E5E5E5;
    display: inline-block;
    position: absolute;
    bottom: auto;
    left: auto;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    font-size: 0.9em;
    border-radius: 0 4px 0 0;
    padding: 0 0.5em;
    text-shadow: none;
    z-index: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/* Fallback, in case JS does not run, to ensure the code is at least visible */
.lang-markup script[type='text/plain'],
.language-markup script[type='text/plain'],
script[type='text/plain'].lang-markup,
script[type='text/plain'].language-markup {
    display: block;
    font: 100% Consolas, Monaco, monospace;
    white-space: pre;
    overflow: auto;
}

:host ::ng-deep .command-line-prompt {
    border-right: 1px solid #999;
    display: block;
    float: left;
    font-size: 100%;
    letter-spacing: -1px;
    margin-right: 1em;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:host ::ng-deep .command-line-prompt>span:before {
    color: #999;
    content: ' ';
    display: block;
    padding-right: 0.8em;
}

:host ::ng-deep .command-line-prompt>span[data-user]:before {
    content: "["attr(data-user) "@"attr(data-host) "] $";
}

:host ::ng-deep .command-line-prompt>span[data-user="root"]:before {
    content: "["attr(data-user) "@"attr(data-host) "] #";
}

:host ::ng-deep .command-line-prompt>span[data-prompt]:before {
    content: attr(data-prompt);
}

:host ::ng-deep .block-ui-wrapper {
    background: rgba(255, 249, 249, 0.5) !important;
}
