<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-detached">
      <div class="content-body">
        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
				  <div class="card">
					<div class="card-header">
					  <h1>Images Upload</h1><hr/>
					</div>
					<div class="row">
					  <div class="col-lg-7 col-md-12 ml-2">
						<h4 class="mb-2">Upload file here (jpeg, jpg, png Format Only Supported)</h4>
						<form class="form-group" [formGroup]="assetsForm" novalidate (ngSubmit)="onSubmit()">
						  <div class="mb-1 mt-1">
							<input type="radio" name="name" formControlName="name" value="brand" />Brand Logo
							<input type="radio" name="name" formControlName="name" value="part" />Part Image
						  </div>
						  <div class="custom-file">
						    <input type="file" class="custom-file-input" formControlName="assetsFile" id="importFile"
						    [ngClass]="{ 'is-invalid': submitted && f.assetsFile.errors }" accept="image/x-png,image/jpg,image/jpeg" >
						    <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label>
						    <div *ngIf="submitted && f.assetsFile.errors" class="invalid-feedback">
							  <div *ngIf="f.assetsFile.errors.required">Please Upload a file</div>
						    </div>
						    <div class="mt-2">
							  <button class="btn btn-info" type="submit">Submit</button><br/><br/>
						    </div>
						  </div>
					    </form>
					  </div>
					</div>
				  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->