<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-header row mb-1"></div>
		<div class="content-detached content-right">
			<div class="content-body">
				<section class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-content">
								<div class="card-body">
									<div class="col-md-12" *blockUI="'customerInfo'; message: 'Loading'">
										<m-card [options]="options" (reloadFunction)="reloadCustomerFileUpload($event)">
											<ng-container mCardBody>
												<form [formGroup]="customerForm" (ngSubmit)="customerFileUpload()">
													<div class="form-body">
														<h3 class="form-section"><i class="la la-paperclip"></i> Customers Details Upload</h3>
														
														<div class="form-group">
															<h5>Upload file here (.CSV File only Supported)</h5>
															<div class="col-sm-12 col-md-6">
																<input type="file" class="custom-file-input" formControlName="importFile" id="importFile" (change)="onFileChange($event.target.files)">
																<label class="custom-file-label" #labelCustomerImport for="inputGroupFile01">Choose file</label>
															</div>
															<small class="form-text text-muted danger" *ngIf="submitted && f.importFile.errors" class="invalid-feedback">
																<div *ngIf="f.importFile.errors.required">File is required</div>
															</small>
														</div>
													</div>
													<div class="card-text">
														<p>CustCode, Pass, SalesCode, Active, Store, DeliveryZone, CustomerName, City, State, Zip, CustType, InvoiceEmail, PromotionEmail and StatementEmail Columns are Must</p>
													</div>
													<div class="form-actions">
														<button type="submit" class="btn btn-primary">
															<i class="la la-check"></i> Submit
														</button>
													</div>
												</form>
											</ng-container>
											
											<ng-container mCardBody>
												<form [formGroup]="customerStringForm" (ngSubmit)="customerString()">
													<div class="form-body">
														<h3 class="form-section"><i class="la la-paperclip"></i> Customer Details String</h3>
														
														<div class="form-group">
															<textarea id="customer_details_string" rows="5" class="form-control" formControlName="customer_details_string" placeholder="Customer Details String"></textarea>
															<small class="form-text text-muted danger" *ngIf="submitted && f.customer_details_string.errors" class="invalid-feedback">
																<div *ngIf="f.customer_details_string.errors.required"> Customer details string is required</div>
															</small>
														</div>
													</div>
													<div class="card-text">
														<p>CustCode, Pass, SalesCode, Active, Store, DeliveryZone, CustomerName, City, State, Zip, CustType, InvoiceEmail, PromotionEmail and StatementEmail Columns are Must</p>
													</div>
													<div class="form-actions">
														<button type="submit" class="btn btn-primary">
															<i class="la la-check"></i> Submit
														</button>
													</div>
												</form>
											</ng-container>
											
											<ng-container mCardBody>
												<form [formGroup]="customerAddUpdateForm" (ngSubmit)="customerAddUpdate()">
													<div class="form-actions text-center" (click)="addUpdateButtonShowCustomerForm()">
														<button type="button" class="btn btn-info btn-min-width mr-1 mb-1">Add / Update</button>
													</div>
													<div class="form-body" *ngIf="addUpdateCustomerForm">
														<h4 class="form-section"><i class="feather ft-user"></i> Personal Info</h4>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label for="Customer_Code">Customer Code <span style="color: red;">*</span></label>
																	<input type="text" id="Customer_Code" class="form-control" formControlName="Customer_Code" placeholder="Customer Code" [ngClass]="{ 'is-invalid': submitted && f.Customer_Code.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.Customer_Code.errors" class="invalid-feedback">
																		<div *ngIf=" f.Customer_Code.errors.required">
																			Customer Code is required
																		</div>
																	</small>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label for="Password">Password <span style="color: red;">*</span></label>
																	<input type="password" id="Password" class="form-control" formControlName="Password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.Password.errors" class="invalid-feedback">
																		<div *ngIf="f.Password.errors.required">
																			Password is required
																		</div>
																	</small>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label for="CustomerName">Customer Name <span style="color: red;">*</span></label>
																	<input type="text" id="CustomerName" class="form-control" formControlName="CustomerName" placeholder="Customer Name" [ngClass]="{ 'is-invalid': submitted && f.CustomerName.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.CustomerName.errors" class="invalid-feedback">
																		<div *ngIf=" f.CustomerName.errors.required">
																			Customer Name is required
																		</div>
																	</small>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label for="City">City</label>
																	<input type="text" id="City" class="form-control" formControlName="City" placeholder="City" [ngClass]="{ 'is-invalid': submitted && f.City.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.City.errors" class="invalid-feedback">
																		<div *ngIf="f.City.errors.required">
																			City is required
																		</div>
																	</small>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label for="State">State</label>
																	<input type="text" id="State" class="form-control" formControlName="State" placeholder="State" [ngClass]="{ 'is-invalid': submitted && f.State.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.State.errors" class="invalid-feedback">
																		<div *ngIf=" f.State.errors.required">
																			State is required
																		</div>
																	</small>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label for="Zip_code">Zip Code</label>
																	<input type="text" id="Zip_code" class="form-control" formControlName="Zip_code" placeholder="Zip Code" [ngClass]="{ 'is-invalid': submitted && f.Zip_code.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.Zip_code.errors" class="invalid-feedback">
																		<div *ngIf="f.Zip_code.errors.required">
																			Zip Code is required
																		</div>
																	</small>
																</div>
															</div>
														</div>
														
														<h4 class="form-section"><i class="la la-paperclip"></i> Requirements</h4>
														
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label for="SalesCode">Sales Code <span style="color: red;">*</span></label>
																	<input type="text" id="SalesCode" class="form-control" formControlName="SalesCode" placeholder="Sales Code" [ngClass]="{ 'is-invalid': submitted && f.SalesCode.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.SalesCode.errors" class="invalid-feedback">
																		<div *ngIf=" f.SalesCode.errors.required">
																			Sales Code is required
																		</div>
																	</small>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label for="Active">Active</label>
																	<input type="text" id="Active" class="form-control" formControlName="Active" placeholder="Active" [ngClass]="{ 'is-invalid': submitted && f.Active.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.Active.errors" class="invalid-feedback">
																		<div *ngIf="f.Active.errors.required">
																			Active is required
																		</div>
																	</small>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label for="DeliveryZone">Delivery Zone</label>
																	<input type="text" id="DeliveryZone" class="form-control" formControlName="DeliveryZone" placeholder="Delivery Zone" [ngClass]="{ 'is-invalid': submitted && f.DeliveryZone.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.DeliveryZone.errors" class="invalid-feedback">
																		<div *ngIf=" f.DeliveryZone.errors.required">
																			Delivery Zone is required
																		</div>
																	</small>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label for="Store">Store</label>
																	<input type="text" id="Store" class="form-control" formControlName="Store" placeholder="Store" [ngClass]="{ 'is-invalid': submitted && f.Store.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.Store.errors" class="invalid-feedback">
																		<div *ngIf="f.Store.errors.required">
																			Store is required
																		</div>
																	</small>
																</div>
															</div>
														</div>
														<div class="form-group">
															<label for="CustType">Customer Type</label>
															<input type="text" id="CustType" class="form-control" formControlName="CustType" placeholder="Customer Type" [ngClass]="{ 'is-invalid': submitted && f.CustType.errors }" />
															<small class="form-text text-muted danger" *ngIf="submitted && f.CustType.errors" class="invalid-feedback">
																<div *ngIf="f.CustType.errors.required">
																	Customer Type is required
																</div>
															</small>
														</div>
														
														<h4 class="form-section"><i class="feather ft-mail"></i> E-Mails</h4>
														
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label for="InvoiceEmail">Invoice Email <span style="color: red;">*</span></label>
																	<input type="email" id="InvoiceEmail" class="form-control" formControlName="InvoiceEmail" placeholder="Invoice Email" [ngClass]="{ 'is-invalid': submitted && f.InvoiceEmail.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.InvoiceEmail.errors" class="invalid-feedback">
																		<div *ngIf="f.InvoiceEmail.errors.required">
																			Invoice Email is required
																		</div>
																		<div *ngIf="f.InvoiceEmail.errors.email">
																			Invoice Email must be a valid email address
																		</div>
																	</small>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label for="PromotionEmail">Promotion Email</label>
																	<input type="email" id="PromotionEmail" class="form-control" formControlName="PromotionEmail" placeholder="Promotion Email" [ngClass]="{ 'is-invalid': submitted && f.PromotionEmail.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.PromotionEmail.errors" class="invalid-feedback">
																		<div *ngIf="f.PromotionEmail.errors.required">
																			Promotion Email is required
																		</div>
																		<div *ngIf="f.PromotionEmail.errors.email">
																			Promotion Email must be a valid email address
																		</div>
																	</small>
																</div>
															</div>
														</div>
														
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label for="StatementEmail">Statement Email</label>
																	<input type="email" id="StatementEmail" class="form-control" formControlName="StatementEmail" placeholder="Statement Email" [ngClass]="{ 'is-invalid': submitted && f.StatementEmail.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.StatementEmail.errors" class="invalid-feedback">
																		<div *ngIf="f.StatementEmail.errors.required">
																			Statement Email is required
																		</div>
																		<div *ngIf="f.StatementEmail.errors.email">
																			Statement Email must be a valid email address
																		</div>
																	</small>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label for="MultiEmail">Multi Email</label>
																	<input type="email" id="MultiEmail" class="form-control" formControlName="MultiEmail" placeholder="Multi Email" [ngClass]="{ 'is-invalid': submitted && f.MultiEmail.errors }" />
																	<small class="form-text text-muted danger" *ngIf="submitted && f.MultiEmail.errors" class="invalid-feedback">
																		<div *ngIf="f.MultiEmail.errors.required">
																			Multi Email is required
																		</div>
																		<div *ngIf="f.MultiEmail.errors.email">
																			Multi Email must be a valid email address
																		</div>
																	</small>
																</div>
															</div>
														</div>
														<div class="form-actions">
															<button type="button" class="btn btn-warning mr-1">
																<i class="feather ft-x"></i> Cancel
															</button>
															<button type="submit" class="btn btn-primary">
																<i class="la la-check"></i> Create Customer
															</button>
														</div>
													</div>
												</form>
											</ng-container>
										</m-card>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
