<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-detached">
      <div class="content-body">
        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
				    <div class="card">
						<div class="card-header">
							<h1>Manage image sequence of new specials</h1><hr/>
						</div>
						<div class="row">
							<div class="col-lg-8 col-md-12 ml-2">
								
							</div>
						</div>
					</div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
