<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
      <div class="content-detached">
        <div class="content-body">
          <section class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
				    <div class="card">
					  <div class="row">
					    <div class="col-md-10"><h1>Update Featured Brands</h1></div>
					    <div class="col-md-2"><button class="btn btn-info float-right" (click)="back()">Back</button></div>
					  </div>	
					  <form [formGroup]="featuredForm" (ngSubmit)="onSubmit()">
					    <div class="form-body">
						  <div class="row">
						    <div class="col-lg-12 col-md-12">
							  <div class="form-group">
							    <label for="title">Title <span class="text-danger">*</span></label>
								<input type="text" id="title" class="form-control" formControlName="title"
								[ngClass]="{ 'is-invalid': submitted && f.title.errors }" placeholder="title" />
								<small class="form-text text-muted danger" *ngIf="submitted && f.title.errors" class="invalid-feedback">
								  <div *ngIf="f.title.errors.required">Title is required</div>
								</small>
							  </div>
						    </div>
						  </div>
                          <div class="row">						  
						    <div class="col-lg-6 col-md-12">
							  <div class="form-group">
							    <label for="category">Category <span class="text-danger">*</span></label>
							    <div [ngClass]="{ 'invalid': submitted && f.category.errors }">
								  <ng-select [items]="multipleSelectArray" formControlName="category" [multiple]="true" placeholder="Select category" bindLabel="item_text" [(ngModel)]="selectCategory" required>
							      </ng-select>
								</div>
							    <small class="form-text text-muted danger" *ngIf="submitted && f.category.errors" class="invalid-feedback" style="display: block;">
								  <div>category is required</div>
							    </small>
							  </div>
						    </div>
						    <div class="col-lg-6 col-md-12">
						      <div class="form-group">
							    <label for="category">Effective Date <span class="text-danger">*</span></label>
								<div class="input-group">
								  <input class="form-control" placeholder="yyyy-mm-dd" [ngClass]="{ 'is-invalid': submitted && f.eDate.errors }" name="dp" ngbDatepicker #d2="ngbDatepicker" formControlName="eDate" required>
								  <div class="input-group-append">
								    <div class="input-group-text" (click)="d2.toggle()">
									  <i class="fa fa-calendar" style="cursor: pointer;"></i>
								    </div>
								  </div>
							    </div>
								<small class="form-text text-muted danger" *ngIf="submitted && f.eDate.errors" class="invalid-feedback" style="display: block;">
									<div *ngIf="f.eDate.errors.required">Effective Date is required</div>
								</small>
							  </div>
						    </div>
						  </div>
                          <div class="row">						  
						    <div class="col-lg-6 col-md-12">
							  <div class="form-group">
							    <label>Upload PDF (PDF Format Only Supported)</label>
							    <div class="custom-file">
							      <input type="file" class="custom-file-input" formControlName="pdf" accept=".pdf" >
							      <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label>
						        </div>
								<div><b>File Name - </b>1566034710-1566032471-Auckland_Skyline_800x600.jpg</div>
					          </div>
				            </div>
						    <div class="col-lg-6 col-md-12">
						      <div class="form-group">
 							    <label>Upload images file here (jpeg, jpg, png Format Only Supported)</label>
							    <div class="custom-file">
								  <input type="file" class="custom-file-input" formControlName="image" accept="image/x-png,image/jpg,image/jpeg" >
								  <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label>
							    </div>
								<div><b>File Name - </b>1566034710-1566032471-Auckland_Skyline_800x600.jpg</div>
							    <span class="mt-1">Please upload Image with 800*600 PX dimension for best viewing experience.</span>
						      </div>
						    </div>
						 </div>
						 <div class="row">
						    <div class="col-lg-12 col-md-12">
						      <div class="form-group">
 							    <label>Descriptions<span class="text-danger">*</span></label>
								  <textarea class="form-control" formControlName="descriptions" [ngClass]="{ 'is-invalid': submitted && f.descriptions.errors }" id="descriptions" rows="4" placeholder="Descriptions"></textarea>
								  <div *ngIf="submitted && f.descriptions.errors" class="invalid-feedback">
								    <div *ngIf="f.descriptions.errors.required">Descriptions is required</div>
								  </div>
						      </div>
						    </div>
						  </div> 
						  <div class="row">
						    <div class="col-lg-6 col-md-12">
							  <div class="form-group">
							    <button type="submit" class="btn btn-primary">
								  <i class="la la-check"></i> Update
							    </button>
							  </div>
						    </div>	
						  </div>
					    </div>	
					  </form>					
				  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->