.completed .media-body {
    text-decoration: line-through;
}

.todo .search {
    position: relative;
    padding: 1.5rem;
}

.todo .search .basic-search {
    width: 100%;
    border: 1px solid #E4E7ED;
    padding: 1.25rem;
    border-radius: 4px;
}

.todo .search i {
    position: absolute;
    top: 50%;
    right: 3rem;
    margin-top: -0.5rem;
}

.todo .no-items {
    display: none;
}

.todo .todo-form {
    position: relative;
    overflow: hidden;
}

.todo .todo-form .form-control-position.control-position-right {
    right: 18px;
    top: 2px;
    cursor: pointer;
}

.todo .todo-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1;
}

.todo .todo-desc {
    color: #98A4B8;
    font-size: 0.9rem;
    letter-spacing: 0.35px;
}

.todo .dragme {
    position: relative;
    left: -0.5rem;
    top: 0.15rem;
    cursor: move;
    color: #98A4B8;
    margin-right: 1.5rem;
}

.todo .todo-list {
    max-height: 1200px;
    width: 100%;
    position: relative;
}

.todo .todo-list.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    width: 5px;
}

@media only screen and (max-width: 991px) {
    .todo .sidebar-toggle {
        cursor: pointer !important;
        left: 2rem !important;
        top: 2.5rem !important;

    }
}

@media only screen and (max-width: 991px) {
    .todo .app-content .sidebar-left .show {
        display: block;
        position: fixed;
        top: 71px;
        width: 300px;
        z-index: 999;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        height: -webkit-calc(100% - 71px);
        height: -moz-calc(100% - 71px);
        height: calc(100% - 71px);
        -webkit-transition: .3s ease all;
        -o-transition: .3s ease all;
        -moz-transition: .3s ease all;
        transition: .3s ease all;
        overflow-y: scroll;
    }
}

.custom-control-input {
  position: relative !important;
}

.custom-control {
  padding-left: 0rem !important;
}
