<div class="app-content content email-fixed-header" >
  <div class="sidebar-left">
    <div class="sidebar">
      <div class="content-overlay" id='content-overlay' (click)="contentOverlay($event)"></div>
      <div class="sidebar-content email-app-sidebar d-flex">
        <div class="email-app-menu col-md-5 card" id='email-app-menu' fxFlex="auto" [perfectScrollbar]="config">
          <div class="form-group form-group-compose text-center">
            <button type="button" class="btn btn-danger btn-block my-1"><i class="feather ft-mail"></i>
              Compose</button>
          </div>
          <h6 class="text-muted text-bold-500 mb-1">Messages</h6>
          <div class="list-group list-group-messages">
            <a [routerLink]="" class="list-group-item active border-0">
              <i class="feather ft-inbox mr-1"></i> Inbox <span class="badge badge-secondary badge-pill float-right">8</span>
            </a>
            <a [routerLink]="" class="list-group-item list-group-item-action border-0"><i class="la la-paper-plane-o mr-1"></i>
              Sent</a>
            <a [routerLink]="" class="list-group-item list-group-item-action border-0"><i class="feather ft-file mr-1"></i>
              Draft</a>
            <a [routerLink]="" class="list-group-item list-group-item-action border-0"><i class="feather ft-star mr-1"></i>
              Starred<span class="badge badge-danger badge-pill float-right">3</span> </a>
            <a class="list-group-item list-group-item-action border-0"><i class="feather ft-trash-2 mr-1"></i>
              Trash</a>
          </div>
          <h6 class="text-muted text-bold-500 mt-1 mb-1">Labels</h6>
          <div class="list-group list-group-messages">
            <a [routerLink]="" class="list-group-item list-group-item-action border-0">
              <i class="feather ft-circle mr-1 warning"></i> Work <span
                class="badge badge-warning badge-pill float-right">5</span>
            </a>
            <a [routerLink]="" class="list-group-item list-group-item-action border-0"><i class="feather ft-circle mr-1 success"></i>
              Private <span class="badge badge-success badge-pill float-right">3</span> </a>
          </div>
        </div>
        <div class="email-app-list-wraper col-md-7 card p-0">
          <div class="email-app-list">
            <div class="card-body email-fixed-search">
                <div class="sidebar-toggle d-block d-lg-none"><i class="feather ft-menu font-large-1" (click) ="sidebar($event)"></i></div>
              <fieldset class="form-group position-relative has-icon-left m-0 pb-1">
                <input type="text" class="form-control" id="iconLeft4" placeholder="Search email"
                  (keyup)='updateFilter($event)'>
                <div class="form-control-position">
                  <i class="feather ft-search"></i>
                </div>
              </fieldset>
            </div>
            <div id="users-list" class="list-group" fxFlex="auto" [perfectScrollbar]="config">
              <div class="users-list-padding media-list">
                <a [routerLink]="" class="media _media border-0" *ngFor="let email of emailList" (click)="showEmail(email)" (click)="contentRightSidebar($event)"
                [ngClass]="{'active':email.isSelected ===  true, '':email.isSelected ===  false}">
                  <div class="media-left pr-1">
                    <span class="avatar-online"><img
                        class="media-object rounded-circle avatar avatar-md avatar-online media-left pr-1"
                        [src]="email.image" alt="avatar" /></span>
                  </div>
                  <div class="media-body w-100 imagename e_de_40">
                    <h6 class="list-group-item-heading text-bold-500">{{email.name}}<span class="float-right"><span
                          class="font-small-2 primary">{{email.time}}</span></span>
                    </h6>
                    <p class="list-group-item-text text-truncate text-bold-600 mb-0">
                      {{email.title}}

                    </p>
                    <p class="list-group-item-text mb-0">{{email.message}}<span
                        class="float-right {{email.badgeClass}}"><span
                          class="badge badge-{{email.badgeClass}} mr-1">{{email.badge}}</span>
                        <i class="font-medium-1 feather ft-star {{email.iconClass}}"></i></span></p>

                      </div>
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="content-right" id='content-right'>
    <div class="content-wrapper">
      <div class="content-header row mb-1">
      </div>
      <div class="content-body">
        <div class="card email-app-details " >
          <div class="card-content ">
              <div class="d-block d-lg-none mt-1 ml-1">
                  <span class="btn btn-primary go-back" (click)="contentRight($event)"><i class="feather ft-arrow-left" ></i> Back to Mails</span>
                </div>
            <div class="email-app-options card-body">
              <div class="row">
                <div class="col-6">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-sm btn-outline-secondary" placement="bottom"
                      ngbTooltip="Replay"><i class="la la-reply"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" placement="bottom"
                      ngbTooltip="Replay All">
                      <i class="la la-reply-all"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" placement="bottom"
                      ngbTooltip="Report Spam">
                      <i class="feather ft-alert-octagon"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" placement="bottom"
                      ngbTooltip="Delete"><i class="feather ft-trash-2"></i></button>
                  </div>
                </div>
                <div class="col-6 text-right">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-sm btn-outline-secondary" placement="bottom"
                      ngbTooltip="Previous"><i class="la la-angle-left"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" placement="bottom"
                      ngbTooltip="Next"><i class="la la-angle-right"></i></button>
                  </div>
                  <div class="btn-group ml-1">
                    <div ngbDropdown [open]="false" [autoClose]="true" class="d-inline-block">
                      <button class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown" id="dropdownBasic6"
                        ngbDropdownToggle>More</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic6">
                        <button class="dropdown-item">Mark as unread</button>
                        <button class="dropdown-item">Mark as unimportant</button>
                        <button class="dropdown-item ">Add star</button>
                        <button class="dropdown-item ">Add to task</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item ">Filter mail</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="email-app-title card-body">
              <h3 class="list-group-item-heading">Project ABC Status Report</h3>
              <p class="list-group-item-text"  *ngFor="let email of email"><span class="badge badge-{{email.badgeClass}}">{{email.badge}}</span> <i
                    class="float-right font-medium-3 feather ft-star {{email.iconClass}}"></i></p>
            </div>
            <div class="media-list">
              <div id="headingCollapse1" class="card-header p-0">
                <a [routerLink]="" data-toggle="collapse" id="headingCollapse1" aria-expanded="true" aria-controls="collapse1"
                  class="email-app-sender media border-0 bg-blue-grey bg-lighten-5">
                  <div class="media-left pr-1" (click)="showmessage($event)" *ngFor="let email of email; let i = index">
                    <span class="avatar avatar-md"><img class="media-object rounded-circle" [src]="email.image"
                        alt="avatar" />
                    </span>
                  </div>
                  <div class="media-body w-100" (click)="showmessage($event)"
                    *ngFor="let email of email; let i = index">
                    <h6 class="list-group-item-heading">{{email.username}}</h6>
                    <p class="list-group-item-text">{{email.title}}
                      <span class="float-right text muted">{{email.date}}</span></p>
                  </div>
                </a>
              </div>
              <div class="card-content" *ngFor="let email of email; let i = index">
                <div class="card-body" *ngIf="isHidden">
                  {{email.message}} <br> <br>
                  {{email.descrition}}<br><br>
                  {{email.sender}}
                </div>
              </div>
              <div id="headingCollapse2" class="card-header p-0">
                <a [routerLink]="" data-toggle="collapse" aria-expanded="false" aria-controls="collapse2"
                  class="email-app-sender media border-0 _media" >
                  <div class="media-left pr-1" (click)="hidemessage()" *ngFor="let email of emailreplay; let i = index">
                    <span class="avatar avatar-md"><img class="media-object rounded-circle"
                      [src]="email.image" alt="avatar" />
                    </span>
                  </div>
                  <div class="media-body w-100" (click)="hidemessage()"
                    *ngFor="let email of emailreplay; let i = index">
                    <h6 class="list-group-item-heading">{{email.username}}{{email.date}}
                    </h6>
                    <p class="list-group-item-text">{{email.title}}
                      <span class="float-right">
                        <i class="la la-reply mr-1"></i>
                        <i class="la la-arrow-right mr-1"></i>
                        <i class="la la-ellipsis-v"></i>
                      </span>
                    </p>
                  </div>
                </a>
              </div>
              <div class="card-content" *ngFor="let email of emailreplay; let i = index">
                <div class="email-app-text card-body" *ngIf="isShown">
                  {{email.message}} <br> <br>
                  {{email.descrition}}<br><br>
                  {{email.sender}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
