<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-detached">
      <div class="content-body">
        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
				    <div class="card">
						<div class="card-header">
							<h1>Customers Details Upload</h1><hr/>
						</div>
						
						<div class="row">
						    <form class="form-group" [formGroup]="customersForm" novalidate (ngSubmit)="onSubmit()">
								<div class="col-lg-6 col-md-12 ml-2">
								    <h4 class="mb-2">Upload file here (.CSV File only Supported)</h4>								
								    <div class="custom-file">
									    <input type="file" class="custom-file-input" formControlName="customerFile" id="importFile"
									    [ngClass]="{ 'is-invalid': submitted && f.customerFile.errors }" accept=".csv" >
									    <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label>
									    <div *ngIf="submitted && f.customerFile.errors" class="invalid-feedback">
										    <div *ngIf="f.customerFile.errors.required">Please Upload a .CSV file</div>
									    </div>
									</div>
								</div>

								<div class="col-lg-12 col-md-12 ml-2">
									<div class="mt-2">
										<button class="btn btn-info" type="submit">Submit</button><br/><br/>
										<span class="mt-2">CustCode,Pass,SalesCode,Active,Store,DeliveryZone,CustomerName,City,State,Zip,CustType,InvoiceEmail,PromotionEmail and StatementEmail Columns are Must</span>
									</div>
								</div>
							</form> 	
						</div>						
						
						<div class="row mt-2"><hr/>
							<div class="col-lg-12 col-md-12">
							    <section id="basic-form-layouts" class="ml-2 mr-2">
									<h4 class="mb-1">Customer Details String</h4>
									<form class="form-group" [formGroup]="customersStringForm" novalidate (ngSubmit)="submitDetails()">
										<div class="form-group">
											<textarea class="form-control" id="placeTextarea" rows="5" formControlName="customerString" [ngClass]="{ 'is-invalid': submittedString && g.customerString.errors }" placeholder="Customer Details String"></textarea>
										</div>
										<div *ngIf="submittedString && g.customerString.errors" class="invalid-feedback" style="display:block;">
											<div *ngIf="g.customerString.errors.required">Customer details string required</div>
										</div>
										<div class="mt-1">
											<button class="btn btn-info" type="submit">Submit</button><br/><br/>
											<span class="mt-2">CustCode,Pass,SalesCode,Active,Store,DeliveryZone,CustomerName,City,State,Zip,CustType,InvoiceEmail,PromotionEmail and StatementEmail Columns are Must</span>
										</div>
									</form>
								</section>	
							</div>
						</div>
						
						<div class="row mt-2">
							<div class="col-lg-12 col-md-12">
								<section id="basic-form-layouts" class="ml-2 mr-2">
								<span class="mb-2"><button class="btn btn-primary float-center" (click)="toggle()">Add/Update</button></span>
								<div *ngIf="showForm" class="mt-2">
									<form [formGroup]="customerInfoForm" (ngSubmit)="submitCustomer()">
										<div class="form-body">
										    <h4 class="form-section"><i class="feather ft-user"></i> Personal Info</h4>
											<div class="row">
											  <div class="col-md-6">
												<div class="form-group">
												    <label for="customerCode">Customer Code <span class="text-danger">*</span></label>
												    <input type="text" id="customerCode" class="form-control" formControlName="customerCode"
												    [ngClass]="{ 'is-invalid': submittedInfo && h.customerCode.errors }" placeholder="Customer Code" />
												    <small class="form-text text-muted danger" *ngIf="submittedInfo && h.customerCode.errors"
													class="invalid-feedback">
													    <div *ngIf=" h.customerCode.errors.required">
													        Customer Code is required
														</div>
												    </small>
												</div>
											  </div>
											  <div class="col-md-6">
												<div class="form-group">
												    <label for="password">Password <span class="text-danger">*</span></label>
												    <input type="text" id="password" class="form-control" formControlName="password"
												    [ngClass]="{ 'is-invalid': submittedInfo && h.password.errors }" placeholder="Password" />
												    <small class="form-text text-muted danger" *ngIf="submittedInfo && h.password.errors" class="invalid-feedback">
														<div *ngIf="h.password.errors.required">
														  Password is required
														</div>
												    </small>
												</div>
											  </div>
											</div>
											
											<div class="row">
											  <div class="col-md-6">
												<div class="form-group">
												    <label for="customerName">Customer Name <span class="text-danger">*</span></label>
												    <input type="text" id="customerName" class="form-control" formControlName="customerName"
												    placeholder="Customer Name" />
												   <small class="form-text text-muted danger" *ngIf="submittedInfo && h.customerName.errors" class="invalid-feedback">
														<div *ngIf="h.customerName.errors.required">
														  Customer name is required
														</div>
												    </small>
												</div>
											  </div>
											  <div class="col-md-6">
												<div class="form-group">
												    <label for="city">City</label>
												    <input type="text" id="city" class="form-control" formControlName="city" placeholder="City" />
												</div>
											  </div>
											</div>
											
											<div class="row">
											  <div class="col-md-6">
												<div class="form-group">
												  <label for="state">State</label>
												  <input type="text" id="state" class="form-control" formControlName="state" placeholder="State"/>
												</div>
											  </div>
											  <div class="col-md-6">
												<div class="form-group">
												  <label for="zip">Zip</label>
												  <input type="text" id="zip" class="form-control" formControlName="zip" placeholder="Zip" />
												</div>
											  </div>
											</div>
											<h4 class="form-section"><i class="la la-paperclip"></i> Requirements</h4>
											<div class="row">
											    <div class="col-md-6">
													<div class="form-group">
														<label for="salesCode">Sales Code <span class="text-danger">*</span></label>
														<input type="text" id="salesCode" class="form-control" formControlName="salesCode"
														[ngClass]="{ 'is-invalid': submittedInfo && h.salesCode.errors }" placeholder="Sales Code" />
														<small class="form-text text-muted danger" *ngIf="submittedInfo && h.salesCode.errors" class="invalid-feedback">
															<div *ngIf="h.salesCode.errors.required">Sales Code
																 is required
															</div>
														</small>
													</div>
											    </div>
											    <div class="col-md-6">
													<div class="form-group">
													  <label for="active">Active</label>
													  <input type="text" id="active" class="form-control" formControlName="active" placeholder="Active" />
													</div>
											    </div>
											</div>
											
											<div class="row">
											    <div class="col-md-6">
													<div class="form-group">
														<label for="deliveryZone"> Delivery Zone </label>
														<input type="text" id="deliveryZone" class="form-control" formControlName="deliveryZone"  placeholder="Delivery Zone"/>
													</div>
											    </div>
												<div class="col-md-6">
													<div class="form-group">
													    <label for="store">Store</label>
													    <input type="text" id="store" class="form-control" formControlName="store" placeholder="Store"/>
													</div>
												</div>
											</div>
											
											<div class="row">
											  <div class="col-md-12">
												<div class="form-group">
												  <label for="custType">Cust Type</label>
												  <input type="text" id="custType" class="form-control" formControlName="custType" placeholder="Cust Type"/>
												</div>
											  </div>
											</div>  
											  
											<h4 class="form-section"><i class="feather ft-mail"></i> Email</h4>
											<div class="row">
											  <div class="col-md-6">
												<div class="form-group">
												  <label for="invoiceEmail">Invoice Email <span class="text-danger">*</span></label>
												  <input type="email" id="invoiceEmail" class="form-control" formControlName="invoiceEmail" 
												  [ngClass]="{ 'is-invalid': submittedInfo && h.invoiceEmail.errors }" />
												  <small class="form-text text-muted danger" *ngIf="submittedInfo && h.invoiceEmail.errors" class="invalid-feedback">
													<div *ngIf="h.invoiceEmail.errors.required">Invoice Email
													  is required</div>
													<div *ngIf="h.invoiceEmail.errors.email">Invoice Mail id must be a valid email address</div>
												  </small>
												</div>
											  </div>
											
											  <div class="col-md-6">
												<div class="form-group">
												  <label for="promotionEmail">Promotion Email</label>
												  <input type="email" id="promotionEmail" class="form-control" formControlName="promotionEmail" />
												  <small class="form-text text-muted danger" *ngIf="submittedInfo && h.promotionEmail.errors" class="invalid-feedback">
													<div *ngIf="h.promotionEmail.errors.email">Promotion Email id must be a valid email address</div>
												  </small>
												</div>
											  </div>
											</div>  
											<div class="row">
											  <div class="col-md-6">
												<div class="form-group">
												  <label for="statementEmail">Statement Email</label>
												  <input type="email" id="statementEmail" class="form-control" formControlName="statementEmail" />
												  <small class="form-text text-muted danger" *ngIf="submittedInfo && h.statementEmail.errors" class="invalid-feedback">
													<div *ngIf="h.statementEmail.errors.email">Statement Email id must be a valid email address</div>
												  </small>
												</div>
											  </div>
											
											  <div class="col-md-6">
												<div class="form-group">
												  <label for="multiEmail">Multi Email</label>
												  <input type="email" id="multiEmail" class="form-control" formControlName="multiEmail" />
												  <small class="form-text text-muted danger" *ngIf="submittedInfo && h.multiEmail.errors" class="invalid-feedback">
													<div *ngIf="h.multiEmail.errors.email">Multi Email id must be a valid email address</div>
												  </small>
												</div>
											  </div>
											</div>
											
											<div class="row">
											  <div class="col-md-6">
												<div class="form-group">
													<button type="submit" class="btn btn-primary">
													  <i class="la la-check"></i> Create Customer
													</button>
												</div>
											  </div>
											  <div class="col-md-6">
												<div class="form-group">
												  
												</div>
											  </div>
											</div>
										</div>
									</form>
								</div>	
								</section>
							</div>
						</div>
					</div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->