<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-detached">
      <div class="content-body">
        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
				  <div class="card">
					<div class="card">
					  <h1>Update New Arrivals</h1><hr/>	
						<form [formGroup]="specialForm" (ngSubmit)="onSubmit()">
					    <div class="form-body">
						  <div class="row">
						    <div class="col-lg-6 col-md-12">
							  <div class="form-group">
							    <label for="title">Title</label>
								<input type="text" id="title" class="form-control" formControlName="title"
							    placeholder="title" />
								<small class="form-text text-muted danger" *ngIf="submitted && f.title.errors" class="invalid-feedback">
								  <div *ngIf="f.title.errors.required">Title is required</div>
								</small>
							  </div>
						    </div>
						    <div class="col-lg-6 col-md-12">
							  <div class="form-group">
							    <label for="category">Category </label>
							    <div [ngClass]="{ 'invalid': submitted && f.category.errors }">
								  <ng-select [items]="multipleSelectArray" formControlName="category" [multiple]="true" placeholder="Select category" bindLabel="item_text" [(ngModel)]="selectCategory">
							      </ng-select>
								</div>
							    <small class="form-text text-muted danger" *ngIf="submitted && f.category.errors" class="invalid-feedback" style="display: block;">
								  <div>category is required</div>
							    </small>
							  </div>
						    </div>
					      </div>
					      <div class="row">
						    <div class="col-lg-6 col-md-12">
						      <div class="form-group">
							    <label for="category">Effective Date</label>
								<div class="input-group">
								  <input class="form-control" placeholder="yyyy-mm-dd" [ngClass]="{ 'is-invalid': submitted && f.eDate.errors }" name="dp" ngbDatepicker #d2="ngbDatepicker" formControlName="eDate" required>
								  <div class="input-group-append">
								    <div class="input-group-text" (click)="d2.toggle()">
									  <i class="fa fa-calendar" style="cursor: pointer;"></i>
								    </div>
								  </div>
							    </div>
								<small class="form-text text-muted danger" *ngIf="submitted && f.eDate.errors" class="invalid-feedback" style="display: block;">
									<div *ngIf="f.eDate.errors.required">Effective Date is required</div>
								</small>
							  </div>
						    </div>
						    <div class="col-lg-6 col-md-12">
							  <div class="form-group">
							    <label>Upload PDF (PDF Format Only Supported)</label>
							    <div class="custom-file">
							      <input type="file" class="custom-file-input" formControlName="pdf" accept=".pdf" >
							      <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label>
						        </div>
								<div><b>File Name - </b>1566034710-1566032471-Auckland_Skyline_800x600.jpg</div>
					          </div>
				            </div>
						  </div>	
						  <div class="row">
						    <div class="col-lg-6 col-md-12">
						      <div class="form-group">
 							    <label>Upload Thumbnail Image (jpeg, jpg, png Format Only Supported)</label>
							    <div class="custom-file">
								  <input type="file" class="custom-file-input" formControlName="thumbnail"  accept="image/x-png,image/jpg,image/jpeg" >
								  <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label>
							    </div>
								<div><b>File Name - </b>1566034710-1566032471-Auckland_Skyline_800x600.jpg</div>
							    <span>Please upload Image with 400*300 PX dimension for best viewing experience.</span>
						      </div>
						    </div>
						    <div class="col-lg-6 col-md-12">
						      <div class="" formArrayName="imageArray">
							    <div class="row">
								  <label class="ml-1">Upload Images (jpeg, jpg, png Format Only Supported)</label>
								  <div class="col-12" *ngFor="let projectForm of projectFormGroup.controls; let i = index;">
								    <div class="repeater-default">
									  <div [formGroupName]="i" class="">
									    <div class="row mb-1">
										  <div class="col-9 col-xl-10">
										    <div class="custom-file">
										      <input type="file" class="custom-file-input" formControlName="file" accept="image/x-png,image/jpg,image/jpeg" >
										      <label class="custom-file-label" #labelImport for="inputGroupFile01">Choose file</label>
										    </div>
										  </div>
										  <div class="col-2 col-xl-2">
										    <button type="button" class="btn btn-icon btn-danger mr-1" (click)="removeFile(i)"><i
											  class="feather ft-x"></i></button>
										  </div>
									    </div>
										<div class="row">
										  <div class="col-md-12">
										    <div><b>File Name - </b>1566034710-1566032471-Auckland_Skyline_800x600.jpg</div>
										  </div>
										</div>
									  </div>
								    </div>
								  </div>
							    </div>
							  </div>

							  <button type="button" class="btn btn-primary" (click)="addFile()">
							    <i class="feather ft-plus"></i> Add new file
							  </button>
						    </div>
						  </div> 
						  <div class="row">
						    <div class="col-lg-6 col-md-12">
							  <div class="form-group">
							    <button type="submit" class="btn btn-primary mt-1">
								  <i class="la la-check"></i> Update
							    </button>
							  </div>
						    </div>	
						  </div>
					    </div>	
					  </form>		
					 </div>		
			      </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
