.chat-application .chats .chat-left .chat-body .chat-content {
  float: left;
}

:host ::ng-deep .chat-application .chats .chat-avatar .avatar {
  width: 50px;
  margin-top: 0px !important;
}

:host ::ng-deep .chat-application .chat-app-window {
  overflow-y: scroll !important;
}

:host ::ng-deep a._media.active {
  background: rgba(0, 0, 0, .05);
  border-right: 2px solid #1E9FF2 !important;
  margin-right: 0;
}

:host ::ng-deep .ps-container.ps-active-x>.ps-scrollbar-x-rail,
.ps-container.ps-active-y>.ps-scrollbar-y-rail {
  display: block;
  background-color: transparent;
}

:host ::ng-deep .ps-container>.ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  border-radius: 4px;
  opacity: 0;
  right: 3px;
  width: 8px;
}

:host ::ng-deep .ps-scrollbar-y-rail {
  right: 3px !important;
  left: auto !important;
}

:host ::ng-deep .ps__thumb-y {
  border-radius: 6px;
  width: 6px;
  right: 2px;
  position: absolute;
}

:host ::ng-deep .ps__rail-y {
  width: 8px !important;
}

[_nghost-c11] .ps__thumb-y {
  background-color: #55595C !important;
  border-radius: 6px;
  width: 2px !important;
  right: 2px;
  position: absolute;
  height: 100px !important;
}

:host ::ng-deep .ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 6px !important;
}

:host ::ng-deep .mr-1 {
margin-right: 1.25rem !important;
}
